@charset "UTF-8";

main.main {
	width: 1450px;
	height: auto;
	text-align: left;
}

#detailWrap {
	margin-top: 20px;
	padding-bottom: 5px;
	width: 100%;
	height: auto;
}

#formSide {
	width: 20%;
	height: auto;
	text-align: left;
	float: left;
}

.sidemenu {
	margin-top: 10px;
}

#detailMain {
	width: 70%;
	float: left;
	margin-top: 20px;
	text-align: center;
}

input {
	border: none;
}

#title {
	font-size: larger;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#con {
	font-size: medium;
	margin-top: 15px;
	margin-left: 15px;
	border: none;
	resize: none;
	box-sizing: border-box;
	overflow: hidden;
}

#img {
	width: auto;
	height: auto;
	margin-top: 20px;
}

#nav {
	margin-top: 15px;
	margin-bottom: 100px;

}

#date {
	float: right;
	margin-top: 15px;
	width: 85px;
}

#detailCon {
	min-height: 450px;
}

#detailHeader {
	height: 40px;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
}

#event {
	margin-left: 15px;
	font-size: larger;
	width: 500px;
}