@charset "UTF-8";

#brListWrap {
    margin-top: 10px;
    margin-bottom: 15px;
    align-content: center;
}

#brListTitle {
    margin-bottom: 10px;
}

#brList {
    text-align: center;
    height: 350px;
}

#brTable {
    align-content: center;
    border: none;
}

.brInfo_header {
    height: 25px;
    border: none;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-size: 18px;
}

.brInfo {
    font-size: 18px;
    border: none;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

#brListNum {
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#rowNum {
    margin-left: 5px;
    font-size: 18px;
}

#SrowNum {
    margin-left: 5px;
    font-size: 18px;
    text-decoration: underline;
}

#brPageNav {
    text-align: center;
    align-content: center;
    margin-bottom: 20px;
}