@charset "UTF-8";

#loginWrap {
    text-align: center;
    margin: auto;
}

#title {
    margin-left: 20px;
}

#errBox {
    color: red;
    font-size: 12px;
}

#loginField {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#loginBtn {
    background-color: hsl(209, 84%, 55%);
    border-radius: 3px;
    color: aliceblue;
    width: 150px;
}

#searchBox {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}