@charset "UTF-8";

#mbrListWrap {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    align-content: center;

}

#mbrListTitle {
    margin-left: 20px;
    margin-bottom: 10px;
}

#mbrList {
    margin-left: 20px;
    text-align: center;
}

#mbrTable {
    width: 1000px;
    align-content: center;
}


.mbrInfo_header {
    height: 20px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}


.mbrInfo {
    font-size: 14px;
    margin-right: 30px;
    border-bottom: 1px solid gray;
}

#mbrListNum {
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#mbrPageNav {
    text-align: center;
    align-content: center;
    margin-left: 50px;
    margin-bottom: 10px;
}
