@charset "UTF-8";

main.main {
    width: 1450px;
    height: auto;
    text-align: left;
}

#myPageWrap {
    margin-top: 20px;
    padding-bottom: 5px;
    width: 90%;
    height: auto;
}


#errBox {
    color: red;
    font-size: 12px;
}

#formSide {
    width: 20%;
    height: auto;
    text-align: left;
    float: left;
}

#formMain {
    width: 75%;
    align-content: center;
    height: auto;
    float: left;
}

#formArea {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 40px;
    margin-bottom: 30px;
}

#ordFormArea {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
    align-content: center;
}

#gradeArea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

#ordListSearch {
    width: 60%;
    margin-left: 200px;
    height: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#deliArea {
    text-align: center;
    margin-left: auto;
    margin-bottom: 20px;
}

#ordListTable {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#ordImg {
    width: 150px;
    height: 150px;
}

#gradeArea1 {
    width: 45%;
    text-align: center;
    float: left;
}

#userGrade {
    font-size: 40px;
    color: mediumaquamarine;
}

#gradeArea2 {
    padding-top: 25px;
    width: 45%;
    text-align: left;
    float: right;
}

.gradeInfo {
    color: gray;
    font-size: 12px;
}

#couponArea {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    align-content: center;
}

#couponBox {
    width: 90%;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
}


#couponTable {
    width: 100%;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}

#ordListTable {
    width: 100%;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.couponTitle {
    height: 30px;
    border-bottom: 2px solid gray;
}

.setForm {
    color: gray;
    font-size: 12px;
}

.adr {
    width: 300px;
    height: 20px;
}

#btnArea {
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    float: right;
}


#modBtn {
    background-color: hsl(209, 84%, 55%);
    border-radius: 3px;
    color: aliceblue;
    width: 50px;
}

#delBtn {
    background-color: hsl(0, 91%, 60%);
    border-radius: 3px;
    color: aliceblue;
    width: 50px;
}

#backBtn {
    background-color: hsla(0, 2%, 29%, 0.226);
    border-radius: 3px;
    color: aliceblue;
    width: 50px;
}

#name, #mbrPwd, #pwd, #pwdCheck, #mbrBd, #mbrTel, #mbrEmail, #sample6_postcode, #sample6_address, #sample6_detailAddress, #sample6_extraAddress, #mbrRegdate, #totAmt {
    margin-top: 15px;
}

.delImg {
    width: 80px;
    height: 80px;
}

.deltitle {
    padding-right: 80px;
}

.delInfo {
    padding-right: 80px;
}

.odrBtn {
    border-radius: 3px;
    width: 80px;
}