.main{
		width: 1024px;
		margin: auto;
		text-align: auto;
	}
	td{
		border-bottom: solid 1px;
	}
	.searchItem{
		width: 1024px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	table{
		margin-bottom: 100px;
	}
	.itemList{
		width: 1024px;
		text-align: center;
		margin: auto;
	}
	.itemNo{
		width: 70px;
	}
	.mcatName{
		width: 100px;
	}
	.itemImg{
		width: 180px;
	}
	.itemName{
		width: 500px;
		text-align: left;
	}
	.itemPrice{
		width: 100px;
	}
	.purchase{
		width: 100px;
	}
    .itemThumbNails{
        width: 150px;
        height: 150px;
    }
    .itemNames{
        font-size: 18px;
    }
    .itemStocks{
        font-size: 16px;
    }
    .hashTags{
        font-size: 14px;
    }
    .srchText{
    	width: 400px;
    	height: 25px;
    	font-size: 16px
    }
    
    .srchBtn{
    	width: 50px;
    	height: 30px;
    	font-size: 16px;
    }
    .allBtn{
    	width: 80px;
    	height: 30px;
    	font-size: 16px;
    }
    
    .cartBtn {
		width: 80px;
		height: 30px;
		margin: 10px;
		color: aliceblue;
		font-size: 15px;
		background-color: #2C8FED;
		border: 1px;
		border-radius: 5px;
	}

	.pcBtn {
		width: 80px;
		height: 30px;
		margin: 10px;
		color: black;
		font-size: 15px;
		background-color: #4B484B3A;
		border: 1px;
		border-radius: 5px;
	}
    .apcBtns{
    	width: 100px;
    	height: 25px;
    	padding: 3px;
    	border: solid 0.5px gray;
    }
    .nothing{
    	height: 400px;
    	vertical-align: center;
    	padding-top: 200px;
    }